/*body {
	height: 100%;
	background: url(/img/masks.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachement: fixed;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	overflow: hidden;
	}*/


.btn.btn-primary {
color: #2B3F3F;
border-color: #2B6261;
background-color: rgb(229, 248, 235);
}


#at-signUp {
color: #2B3F3F;
border-color: #f89406;
background-color: rgb(248, 46, 46);
/* height: 128px; */
border-radius: 29px;
padding: 10px;
}


nav.navbar.navbar-default {
margin-top: 0px;
}


@media (min-width: 760px) {
  nav.navbar.navbar-default {
    margin-top: 0px;
    }
}

body { padding-top: 70px; }