/*body {
	height: 100%;
	background: url(/img/masks.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachement: fixed;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	overflow: hidden;
	}*/


.btn.btn-primary {
color: #2B3F3F;
border-color: #2B6261;
background-color: rgb(229, 248, 235);
}