.bgcontent{

	background: url(/img/backgroundAn.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 730px;
	overflow: hidden;
}

.btn.btn-primary {
color: #2B3F3F;
border-color: #2B6261;
background-color: rgb(229, 248, 235);
}


#at-signUp {
color: #2B3F3F;
border-color: #f89406;
background-color: rgb(248, 46, 46);
/* height: 128px; */
border-radius: 29px;
padding: 10px;
}


nav.navbar.navbar-default {
margin-top: 0px;
}


@media (min-width: 760px) {
  nav.navbar.navbar-default {
    margin-top: 0px;
    }
}

body { 
	padding-top: 70px;
	/*overflow: hidden;*/
 }

.transparent{
	margin-top: 13%;
}

.signmargin{
	margin-top: 13%;
}