.transparent{

  margin-top: 35%;
  background-color: rgba(255,255,255,0.7);
  color: black;
}

/*header .navbar-default.scrolled ul.navbar-nav {
  margin-top: 30px;
   padding-top: 15px; 
}
.navbar-header.scrolled {
  float: left;

  }*/


  .at-form .at-title, .at-form label{
    color: #fff;
  }

  @media (min-width: 768px){
    nav.navbar.navbar-default {
      margin-top: -70px;
    }
    header .navbar-default.scrolled {
      border-bottom: 3px solid #336799;
      margin-top: -7px !important;
    }
    .navbar-brand{
      margin-top: 45px;
    }
    header .navbar-default.scrolled .navbar-brand {
      margin-top: 0;
    }
  }












